body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero {
    background-color: #1F2937;
}

.logo {
    color: #e5e7eb;
}


ul {
    padding: 0px;
    margin: 0;
    list-style-type: none;
    display: flex;
}

a {
    color: #e5e7eb;
    padding: 15px;
    text-decoration: none;
}

.logo-and-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.title {
    font-size: 40px;
    font-weight: bolder;
    color: #e5e7eb;
}

.subheading {
    font-size: 18px;
    color: #e5e7eb;
}

.top_button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 3px solid #3882f6;
    margin-top: 5px;

}


.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;
}

h1,
p {
    margin: 2px;
}

.text-and-image {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
    gap: 20px;
    flex: 1;
}


.content-1-title {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.card-group {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.card {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
}

.card img {
    border-radius: 25px;
    border: 3px solid #3882f6
}

.content-2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: wrap;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    text-wrap: wrap;
}

.quote-author {
    text-align: right;
    margin-left: 100px;
    margin-right: 150px;
    margin-bottom: 100px;
    font-weight: bold;
    text-wrap: wrap;
}

.content-3 {
    display: flex;
    background-color: #3882f6;
    margin: 100px;
    border-radius: 10px;
    border: 3px solid #3882f6;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;
    padding: 20px;
}

.bottom_button {
    border-radius: 10px;
    border: 2px solid #E5E7EB;
    margin-top: 5px;
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    color: #e5e7eb;
    font-weight: 800;
}

footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 30px;
}